name: Windows Build

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Flutter
      uses: subosito/flutter-action@v2
      with:
        channel: 'stable'
        flutter-version: 'any'

    - name: Install dependencies
      run: flutter pub get

    - name: Build Windows App
      run: flutter build windows

    - name: Create MSIX Installer
      run: dart run msix:create

    - name: Upload Windows Installer
      uses: actions/upload-artifact@v4
      with:
        name: FocusTime-Installer
        path: build/windows/x64/runner/Release/*.msix
